@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #f9f4e8;
  color: #525252;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  overflow-x: hidden;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: black;
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;

  @media (max-width: 500px) {
    font-size: 2.5rem;
  }
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

a {
  display: inline-block;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

form {
  display: grid;
  grid-template-columns: auto 10rem;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @media (max-width: 1000px) {
    grid-template-columns: 20rem 10rem;
  }

  @media (max-width: 500px) {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
}

input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  height: 4rem;
  border-radius: 5px;

  &[type="email"] {
    padding-left: 1.2rem;
  }

  &[type="submit"] {
    font-weight: bold;
    color: white;
    background-color: hsl(223, 79%, 60%);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.underline {
  &::after {
    content: "";
    width: 0px;
    height: 1.5px;
    display: block;
    background: black;
    transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  position: relative;
  width: 105px;
  height: 24px;
  background: no-repeat center/contain url("/Assets/Logo.svg");
}

#hire {
  display: flex;
  justify-self: flex-start;
  font-size: 0.6rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, orange, red);

  &:hover {
    opacity: 0.8;
  }
}

.links {
  @media (max-width: 1000px) {
    display: none;
  }
}

.join {
  > input {
    padding-inline: 1.5rem;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.menu {
  display: none;

  &:hover {
    opacity: 0.6;
  }

  span {
    display: flex;
    margin: 3px;
    width: 20px;
    height: 4px;
    background-color: black;
    color: black;
  }

  @media (max-width: 1000px) {
    display: block;
    cursor: pointer;
  }
}

.container-main {
  max-width: 1440px;
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1000px) {
    padding: 2rem;
  }

  @media (max-width: 500px) {
    padding: 1rem;
  }
}

.hero {
  display: flex;
  gap: 12rem;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    gap: 1rem;
    margin-block: 3rem;
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;

    .palette {
      height: 450px;
      width: 450px;

      @media (max-width: 500px) {
        height: 300px;
        width: 300px;
      }
    }

    .image {
      position: relative;
      top: 0;
      background: no-repeat center/contain
        url("/Assets/Hero\ Image\ \(Model\).png");
    }

    .purple {
      position: absolute;
      top: 0;
      background: no-repeat center/contain url("/Assets/Purple\ Shape.svg");
      transform: rotate(-15deg);
      z-index: -5;
    }

    .pink {
      position: absolute;
      top: 0;
      background: no-repeat center/contain url("/Assets/Pink\ Shape.svg");
      transform: rotate(-30deg);
      z-index: -10;
    }

    .blue {
      position: absolute;
      top: 0;
      background: no-repeat center/contain url("/Assets/Blue\ Shape.svg");
      transform: rotate(-45deg);
      z-index: -15;
    }
  }
}

.unsubscribe {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tick {
  display: inline-block;
  height: 25px;
  width: 25px;
  background: no-repeat center/contain url("/Assets/Checkmark.svg");
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .social {
    display: flex;
    gap: 1.5rem;
  }

  .help {
    color: black;
    display: flex;
    gap: 1rem;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: no-repeat center/contain url("/Assets/Help\ Avatar.svg");
    }

    .text {
      display: flex;
      flex-direction: column;
    }

    a {
      font-weight: bold;
    }
  }
}
